body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
/*Top*/
/*_________________________________________________________________________________*/
.topBar{
    display: flex;
    align-items: center;
    margin: 0 30px;
    justify-content: space-between;
    position: relative;
}

.menuBtn{
    background-color: #555555;
    border: 2px solid #555555;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.menuBtn:hover{
    background-color: white;
    color: black;
}

.header{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.header .title{
    margin: 0;
    font-size: 72px;
    position: relative;
}

.line{
    border: 1px solid #7a7d7d;
    margin: 5px;
}

.navRight{
    display: flex;
    justify-content: center;
}

.emerBtn{
    background-color: #a82011;
    border: 2px solid #a82011;
    color: white;
    padding: 15px 32px;
    font-size: 24px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 5px;
}

.emerBtn:hover{
    background-color: white;
    color: black;
}

.siren{
    margin: 0 5px;
    width: 64px;
}

.bInfo{
    font-size: 48px;
    text-align: center;
    padding-top: 5vh;
    margin-bottom: 20px;
}
/*^^Top^^*/
/*_________________________________________________________________________________*/



/*Main*/
/*_________________________________________________________________________________*/
.main{
    display: flex;
    justify-content: center;
}

.batchInformation{
    padding: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #555555;
}

.mainLeft{
    padding: 2px 2px;
}

.batchInfo{
    background-color: #555555;
    color: white;
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.mainMiddle{
    margin: 0 20px;
    height: 515px;
}

.tableWrapper{
    border: 2px solid white;
    overflow-y: scroll;
    height: inherit;
}

.historyTable{
    border-collapse: collapse;
}

.historyTable thead tr{
    font-size: 24px;
    position: sticky;
    top: 0;
    background: #555555;
    border: 1px solid white;
}

.historyTable tr{
    border: 1px solid white;
}

.historyTable th, .historyTable td{
    padding: 10px 30px;
    color: white;
    text-align: center;
}

.mainRight{
    padding: 2px 2px;
}

.graphBtn{
    padding: 15px 32px;
    font-size: 24px;
    background-color: #555555;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 1px 1px white;
    border-radius: 10px;
}

.graphBtn:hover{
    background-color: white;
    color: black;
}