body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
    width: 100%;
    --main-beer-color: rgb(208, 202, 37);
    margin: 0;
    padding: 0;
}



/*____________________*Top*____________________*/
.topBar{
    display: flex;
    align-items: center;
    margin: 0 30px;
    justify-content: space-between;
    position: relative;
}

.menuBtn{
    background-color: #555555;
    border: 2px solid #555555;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.menuBtn:hover{
    background-color: white;
    color: black;
}

.header{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.header .title{
    margin: 0;
    font-size: 72px;
    position: relative;
}

.line{
    border: 1px solid #7a7d7d;
    margin: 5px;
}

.navRight{
    display: flex;
    justify-content: center;
}

.emerBtn{
    background-color: #a82011;
    border: 2px solid #a82011;
    color: white;
    padding: 15px 32px;
    font-size: 24px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 5px;
}

.emerBtn:hover{
    background-color: white;
    color: black;
}

.siren{
    margin: 0 5px;
    width: 64px;
}
/*____________________*^^Top^^*____________________*/







/*____________________*Bottom*____________________*/
.bottom{
    display: flex;
    margin: 20px 20px;
}

/*____________________*Bottom Left*____________________*/
.left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.leftTop{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex: 1;
}

.batchControlBtns{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.batchControlBtns button{
    padding: 15px 32px;
    font-size: 24px;
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    cursor: pointer;
    transition-duration: 0.4s;
    text-align: center;
}

.batchControlBtns button:hover{
    background-color: white;
    color: black;
}

.batchBtn{
    flex: 1;
    margin-bottom: 10px;
    white-space: pre-line;
}

.infoBox{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 83%;
}

.info{
    display: flex;
    border: black solid 2px;
    box-shadow: 2px 4px;
    border-radius: 10%;
    flex-direction: column;
    place-items: center;
    padding: 15px;
    justify-content: center;
}

.rotate{
    transform: rotate(30deg);
}

.picture{
    width: 64px;
}

.leftBot{
    display: flex;
    align-items: center;
    margin-top: auto;
}
/*____________________*^^Bottom Left^^*____________________*/







/*____________________*Bottom Right*____________________*/
.right{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 50%;

}

/*____________________*^^Bottom Right^^*____________________*/

/*____________________*^^Bottom^^*____________________*/







/*____________________*Maintenance Box*____________________*/


.maintenanceBox{
    display: flex;
    align-items: center;
    width: 50%;
}

.maintenanceContainer{
    width: 100%;
    border: 1px solid #7a7d7d;
}

.maintenanceBar{
    padding: 5px 0;
}

.maintenance{
    padding: 5px;
    font-size: 20px;
}
/*____________________*^^Maintenance Box^^*____________________*/





.silos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    gap: 4%;
}

.silo {
    border: 1px solid black;
    text-align: center;
}

.text_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-weight: 700;
}

.consoleWindow{
    display: flex;
    flex: 1;
    justify-content: center;
}

.console {
    width: 50%;
    border: solid 2px #555555;
    padding: 3px 5px;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.notification-drop {
    font-family: 'Ubuntu', sans-serif;
    color: #444;
}
.notification-drop .item {
    padding: 10px;
    font-size: 18px;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.notification-drop .item:hover {
    cursor: pointer;
}
.notification-drop .item i {
    margin-left: 10px;
}
.notification-drop .item ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #fff;
    left: -200px;
    right: 0;
    z-index: 1;
    border-top: 1px solid #ddd;
}
.notification-drop .item ul li {
    font-size: 16px;
    padding: 15px 0 15px 25px;
}
.notification-drop .item ul li:hover {
    background: #ddd;
    color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 500px) {
    .notification-drop {
        display: flex;
        justify-content: flex-end;
    }
    .notification-drop .item {
        border: none;
    }
}

.notification-bell{
    font-size: 20px;
    position: relative;
}

.btn__badge {
    background: #FF5D5D;
    color: white;
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: -2px;
    padding: 3px 7px;
    border-radius: 50%;
    margin-right: 10%;
}

.notification-text{
    font-size: 14px;
    font-weight: bold;
}

.notification-text span{
    float: right;
}

.graph{
    background-color: white;
    border: 2px solid black;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__badge{
    display: flex;
    justify-content: center;
    align-items: center;
}